* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  border: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  color: beige;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  font-family: cursive;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  font-size: 15pt;
  font-weight: lighter;
}

#dot {
  color: brown;
}

#ja {
  font-style: italic;
  font-weight: lighter;
  font-family: cursive;
  color: palevioletred;
}
#agrifoods {
  color: beige;
  font-family: "Courier New", Courier, monospace;
}

#logo-size {
  font-size: 2rem;
}
.text-white {
  color: white;
}

.text-blue {
  color: palevioletred;
}

#hero {
  background-image: url("./img/team-ino.JPG");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#hero-title {
  color: white;
  font-size: 3rem;
  font-style: italic;
}

#hero-subtext {
  color: white;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#hero-button {
  background-color: palevioletred;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-family: cursive;
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}

.header {
  padding-left: 20rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: palevioletred;
  font-family: initial;
  width: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 2.5rem;
  font-style: italic;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 8rem;
  margin-right: 10rem;
  column-gap: 8rem;
}

#img {
  border: 5px solid;
  color: palevioletred;
}

.about-details {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  line-height: 0.9cm;
  font-weight: 500;
  text-align: justify;
  color: black;
  font-weight: 500;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  gap: 35px;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item img {
  width: 79%;
  height: 59%;
  object-fit: fill;
  border: 5px solid;
}

.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  opacity: 0;
}

.gallery-overlay:hover {
  opacity: 1;
}

.skillset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 8rem;
  margin-right: 10rem;
  column-gap: 8rem;
  line-height: 3rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.mini-head {
  font-size: 25px;
  text-decoration: underline;
}


#connect {
  background-color: palevioletred;
  padding-left: 40rem;
  font-size: 1.5rem;
  height: 5rem;
  padding-top: 2rem;
}
.fa {
  font-size: 100px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

footer {
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 20rem;
}

#drive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  line-height: 1.5rem;
font-size: 1.2rem;
}

#footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 15pt;
}

.text-black {
  color: black;
}

.gallery {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
padding-bottom: 5rem;
}